{
    local_certs
}

# Handle any host/IP on HTTPS
https:// {
    handle_path /api/* {
        reverse_proxy /api/* backend:8080
    }
    
    handle {
        reverse_proxy frontend:3000
    }

    # Use internal certificates
    tls internal
    
    log {
        output stdout
        format console
    }
}

# Handle any host/IP on HTTP and redirect
http:// {
    redir https://{host}{uri}
}
