{
    local_certs
}

:443 {
    handle_path /api/* {
        reverse_proxy backend:8080 # Target backend's HTTP port
    }
    
    handle {
        reverse_proxy frontend:3000
    }

    tls internal
    log {
        output stdout
        format console
    }
}

:80 {
    redir https://{host}{uri}
}
